<div class="p-4 flex items-center w-100 bg-gray-200">
  <div class="grow text-lg">
    My Videos
  </div>
  <div class="flex-none">
    <% if current_user.present? %>
      <div class="flex gap-4">
        <div>
          <%= link_to 'New video', new_video_path %>
        </div>
        <div>|</div>
        <div><%= current_user.name %></div>
      </div>
    <% else %>
      <div>
        <%= link_to 'Sign in', new_user_session_path %>
      </div>
    <% end %>
  </div>
</div>
